  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" href="#[relativeBase]#favicon.ico" />
  <meta name="referrer" content="#[referrer.meta.policy]#" />

  <link rel="stylesheet" type="text/css" href="#[relativeBase]#env/css/tailwind.min.css" />
  <link rel="stylesheet" type="text/css" href="#[relativeBase]#env/css/yacy-public.css?v=20260509c" />
